<div class="row-fluid">
    <!-- block -->
    <div class="block">
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">增加部门</div>
        </div>
        <div class="block-content collapse in">
            <div class="span12">
                <form id="form-admin-add" class="form-horizontal"  action="/Admin/Department/save" method="post">
                    <fieldset>

                        <legend>部门信息</legend>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">部门名称</label>
                            <div class="controls">
                                <input class="input-xlarge focused" name="name" required="required" id="focusedInput" type="text" placeholder="请输入1-10位名称">
                                <span class="help-inline"></span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="selectError">上级部门</label>
                            <div class="controls">
                                <select name="de_id">
                                    <?php
					foreach($de as $ro){
						 echo "<option value='".$ro['department_id']."'>".$ro['name']."</option>";
                                    }
                                    ?>
                                </select>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">提交</button>
                            <button type="reset" class="btn">取消</button>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
    <!-- /block -->
</div>
</div>
</div>
<hr>
<footer>
    <p>&copy; Vincent Gabriel 2013</p>
</footer>
<script src="__ROOT__/vendors/jquery-1.9.1.min.js"></script>
</div>
<script>
    $(function() {
        /*  $("input[name='image']").change(function () {
         var img=$(this).val();
         if(img==""){
         $(this).parent().parent().addClass('error');
         $(this).next('span').html('请选择图片');
         }else{
         $.ajaxFileUpload({
         url:"/Admin/Index/upload",
         type:"post",
         data:{image:img},
         dataType:"json",
         success:function(data){
         if(data!=""){
         $("#focusedInput").parent().parent().addClass('error');
         $("#focusedInput").next('span').html(data);
         }else{
         $("#focusedInput").parent().parent().addClass('success');
         // $("#focusedInput").next('span').html();
         }
         },
         error:function(){
         alert(1);
         $("#focusedInput").parent().parent().addClass('error');
         $("#focusedInput").next('span').html('发生错误');
         }
         });
         }
         });*/

        $("input[name='name']").change(function () {
            var name=$(this).val();
            var reg =/[\u4e00-\u9fa5]{1}/;
            if(!reg.test(name)){
                alert(1);
                $(this).parent().parent().addClass('error');
                $(this).next('span').html('请输入1-10位名称');
            }else{
                checkyan(this,"name",name)
            }
        });
    });

    function checkyan(obj,key,vo) {
        $.ajax({
            url:"/Admin/Department/cheackAccount",
            type:"post",
            data:{name:vo,key:key},
            dataType:"json",
            success:function(data){
                if(data!=""){
                    $(obj).parent().parent().addClass('error');
                    $(obj).next('span').html(data);
                }else{
                    $(obj).parent().parent().addClass('success');
                    $(obj).next('span').html("");
                }
            },
            error:function(){
                $(obj).parent().parent().addClass('error');
                $(obj).next('span').html('发生错误');
            }
        });
    }
</script>
</body>

</html>