<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css"
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" />
<title>添加管理员 - 管理员管理 - H-ui.admin v3.1</title>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" action="/Admin/User/add_save" method="post" id="form-admin-add">
		<div class="row cl"><!--action="admin_add.php" method="post"-->
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" style="width:580px;" id="adminName" name="adminName">
			<label class="con_name error" ></label>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>初始密码：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="password" class="input-text" style="width:580px;" autocomplete="off" value="" placeholder="密码" id="password" name="password">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="password" class="input-text" style="width:580px;" autocomplete="off"  placeholder="确认新密码" id="password2" name="password2">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
		<div class="formControls col-xs-8 col-sm-9 skin-minimal">
			<div class="radio-box">
				<input name="sex" type="radio" value="1" id="sex-1" checked>
				<label for="sex-1">男</label>
			</div>
			<div class="radio-box">
				<input type="radio" id="sex-2" value="0" name="sex">
				<label for="sex-2">女</label>
			</div>
		</div>
	</div>
	<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户地址：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box" style="width:120px;">
				<select class="select" name="province" size="1">
				 <option value="0">请选择省份</option>
					<?php
					foreach ($province as $vo){
					?>
					<option value="<?=$vo['id'];?>"><?=$vo['name'];?></option>
					<?php } ?>
				</select>
				</span>
				<span class="select-box" style="width:120px;">
				<select class="select" name="city" size="1">
					 <option value="0">请选地级市</option>
				</select>
				</span>
				<span class="select-box" style="width:120px;">
				<select class="select" name="region" size="1">
					<option value="0">请选择区/县</option>
				</select>
				</span>
				<input type="text" class="input-text" placeholder="街道信息" style="width:210px;" name="address">
			</div>
		</div>


	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" style="width:580px;" id="phone" name="phone">
			<span class="con_phone" style="position: absolute;right: 20px;top:3px; color: red;"></span>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" style="width:580px;" placeholder="@" name="email" id="email">
			<span class="con_email" style="position: absolute;right: 20px;top:3px; color: red;"></span>
		</div>
	</div>

	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">角色：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<span class="select-box" style="width:150px;">
			<select class="select" name="adminRole" size="1">
				<?php
					foreach($role as $ro){
						 echo "<option value='".$ro['id']."'>".$ro['name']."</option>";
						}
				?>
			</select>
			</span>
		</div>
	</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">部门：</label>
			<div class="formControls col-xs-8 col-sm-9">
			<span class="select-box" style="width:150px;">
			<select class="select" name="de_id" size="1">
				<?php
					foreach($de as $ro){
						 echo "<option value='".$ro['department_id']."'>".$ro['name']."</option>";
						}
				?>
			</select>
			</span>
			</div>
		</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">备注：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<textarea name="describe" cols="" rows="" style="width:580px;" class="textarea"  placeholder="说点什么...100个字符以内" dragonfly="true" onKeyUp="$.Huitextarealength(this,100)"></textarea>
			<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
		</div>
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" name="reg" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去--> 
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
    $("select[name='province']").change(function() {
        var value=$(this).val();
        $.ajax({
            url:"/Admin/User/selectCtiy",
            type:"post",
            data:{name:value},
            dataType:"json",
            success:function(data){
                var li="<option value='0'>请选地级市</option>";
                $(data).each(function(){
                    li +="<option value='"+this.id+"'>"+this.name+"</option>";
                });
                $("select[name='city']").html(li);
                $("select[name='region']").html("<option value='0'>请选择区/县</option>");
            },
            error:function(){
                alert('服务器错误');
            }
        });
    });


    $("select[name='city']").change(function() {
        var value=$(this).val();
        $.ajax({
            url:"/Admin/User/selectCtiy",
            type:"post",
            data:{name:value},
            dataType:"json",
            success:function(data){
                var li="<option value='0'>请选地级市</option>";
                $(data).each(function(){
                    li +="<option value='"+this.id+"'>"+this.name+"</option>";
                });
                $("select[name='region']").html(li);
            },
            error:function(){
                alert('服务器错误');
            }
        });
    });


    $("select[name='city']").change(function() {
        var value=$(this).val();
        $.ajax({
            url:"../lib/admin.class.php?f=selectCtiy",
            type:"post",
            data:{name:value},
            dataType:"json",
            success:function(data){
                var li="<option value='0'>请选择区/县</option>";
                $(data).each(function(){
                    li +="<option value='"+this.id+"'>"+this.name+"</option>";
                });
                $("select[name='region']").html(li);
            },
            error:function(){
               // alert('服务器错误');
            }
        });
    });




	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	$("#adminName").change(function(){
		var name=$(this).val();
		$.post('../lib/admin.class.php?f=cheackAccount',{name:name},function(data) {
			if(name.length > 4){
                $(".con_name").html(data);
				if(data!=""){
                    $("#adminName").removeClass("panel-success");
                    $("#adminName").addClass("error");
				}else{
                    $("#adminName").removeClass("error");
                    $("#adminName").addClass("panel-success");
				    }
			}
		})
	});
	$("#phone").change(function(){
		var tel=$(this).val();
		$.post('../lib/admin.class.php?f=cheackphone',{tel:tel},function(data) {
			if(name.length > 10){
                $(".con_phone").html(data);
                if(data!=""){
                    $("#phone").removeClass("panel-success");
                    $("#phone").addClass("error");
                }else{
                    $("#phone").removeClass("error");
                    $("#phone").addClass("panel-success");
                }
			}
		})
	});
	$("#email").change(function(){
		var email=$(this).val();
		$.post('../lib/admin.class.php?f=cheackemail',{email:email},function(data) {
			$(".con_email").html(data);
            if(data!=""){
                $("#email").removeClass("panel-success");
                $("#email").addClass("error");
            }else{
                $("#email").removeClass("error");
                $("#email").addClass("panel-success");
            }
		})
	});
	$("#form-admin-add").validate({
		rules:{
			adminName:{
				required:true,
				minlength:5,
				maxlength:16
			},
			password:{
				required:true,
			},
			password2:{
				required:true,
				equalTo: "#password"
			},
			sex:{
				required:true,
			},
			phone:{
				required:true,
				isPhone:true,
			},
			email:{
				required:true,
				email:true,
			},
			adminRole:{
				required:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		/*submitHandler:function(form){
			$(form).ajaxSubmit({
				type: 'post',
				url: "./admin_add.php",
				success: function(data){
					layer.msg("123",{icon:1,time:2000});
				},
                error: function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg('添加失败error!',{icon:1,time:1000});
				}
			});
			var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
			//parent.layer.close(index);
		}*/
	});
});
	function layertie(message){
		layer.msg(message,{icon:1,time:2000});
		setTimeout(close,2000);
	}
	function close(){
		var index = parent.layer.getFrameIndex(window.name);
		parent.$('.btn-refresh').click();
		parent.layer.close(index);
	}
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>